body {
    background: #C5C6C7;
    padding-bottom: 56px;
}

/* --- NAVBAR --- */
.navbar {
    background: #0B0C10;
}

/* --- NAVIGATION END --- */


/* ----- FOOTER ----- */
.custom-footer {
    background: #1F2833;
    color: white;
    text-align: center;
}
.custom-footer p {
    margin-top: 16px;
}

/* ----- FOOTER END ----- */


/* ----- CONTENT ----- */
.card {
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-width: 0;
}

.use-card {
    text-align: center;
}

.center-card {
    text-align: center;
    background: #1F2833;
    color: white;
}

.card-header {
    background: #1F2833;
    color: white;
}

.card-header p {
    margin-bottom: 0;
}

.img-wrapper{
    margin-top: 12px;
}

.link-btn {
    width: 180px;
    background: #0B0C10;
    color: white;
}

.use-btn {
    margin-top: 10px;
}

.btn:hover, .btn:focus, .btn:active, .btn-.active, .open > .dropdown-toggle.btn {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e;
}

.public-date {
    color: gray;
    margin-top: 5px;
    font-size: 14px;
}

.alert {
    margin-top: 10px;
}

/* ----- CONTENT END ----- */


/* ----- Collapsing cards ----- */
.custom.collapsed:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

span:after{
    content: '\02796';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
/* ----- Collapsing cards END ----- */

